<nav>
	<div class="lateral menu-fechado">			
		<ul class="menu">
			<li class="active"><a href="/"><span class="icon-home"></span> &nbsp;Início</a></li>
			<li>
				<a class="itens" href="#"><span class="icon-cogs"></span> &nbsp;Configuarações <span class="arrow"></span></a>
				<ul class="sub-menu">
					<li><a href="mostraAdmin">Administradores</a></li>
					<li><a href="mostraStyles">Styles / SEO / Tags</a></li>
				</ul>
			</li>
			<li>
				<a class="itens" href="#"><span class="icon-cogs"></span> &nbsp;Institucional <span class="arrow"></span></a>
				<ul class="sub-menu">
					<li><a href="">A empresa</a></li>
					<li><a href="">Fotos</a></li>
					<li><a href="">Vídeos</a></li>
				</ul>
			</li>	
			<li>
				<a class="itens" href="#"><span class="icon-cogs"></span> &nbsp;Opcionais <span class="arrow"></span></a>
				<ul class="sub-menu">
					<li><a href="">Ajuda?</a></li>
					<li><a href="">Serviços</a></li>
					<li><a href="">Atendimento Online</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>