*{ margin: 0; padding: 0; }
html {
	body {
		background: #35363a;
		
		font-family: 'Open Sans', sans-serif, arial;
		font-size: 13px;
		font-weight: 300 !important;
		
		width: 100%;
	}
}
a { color: #000; text-decoration: none; }
img,iframe,object,video { max-width:100%; height:auto; }

.vinheta { font-size: 26px; width: 100%; }
.right { float: right; }



/* ==========================================================================
   Estilo da Index
   ========================================================================== */
	/* Topo */
	.topo {
		background: #242527;

		float: left;

		height: 45px;
		width: 100%;
		.adm-titulo {
			color: #cecfd3;
			font-size: 20px;
			
			float: left;
			
			padding: 10px;
		}
	}

	/* principal */
	.conteudo {
		float: left;
		overflow: hidden;
		width: 100%;
		.lateral {
			float: left;
			min-height: 200px;
			position: absolute;
			width: 215px;
			.menu {
				list-style: none;
				margin: 0;
				margin:55px 0;
				padding: 0;
				padding: 0;
			}
		}
	}
	
			
			.menu > li > a { border: 0px; display: block; font-size: 14px; margin: 0; padding: 10px 15px;position: relative;  text-decoration: none; }
				ul.menu > li > a { border-top: 1px solid #414247; border-bottom: 1px solid #292a2d; color: #cecfd3; display: block; font-size: 14px; line-height: 20px;  }
				ul.menu > li > a:hover { background: #242527;  }
				ul.menu > li > a > .arrow:before { content: "\e894"; font-family: "icomoon"; float: right; margin-right: 5px; }

				.active { background: #242527; border-right: 4px solid #d12610; }

				/* SubMenu */
				ul.menu > li ul.sub-menu { display: none; font-size: 14px; padding-top: 10px; width: 100%; }
				ul.menu > li ul.sub-menu li a { color: #cecfd3; display: block; padding: 7px 38px; }
				ul.menu > li ul.sub-menu li a:hover { background: #414247; color: #fff; }

				.nav-toggle { display: none; } /* Esconde botão do menu Mobile */


		.capa { background: #fafafa; border-radius: 0 0 0 5px; margin-left: 215px; margin-top: 0; min-height: 620px; overflow: hidden; padding: 20px; }
			.capa-atalhos { float: left; width: 100%; }
				.atalho { border:1px solid #e6e6e6; border-radius: 5px; cursor: pointer; font-size: 16px; float: left; min-height: 55px; margin:0 10px 10px 0; padding: 10px; width: 180px; }
				.atalho:hover { 
					background: #fff;
					box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
				}
				.atalho	.icon { font-size: 36px; }
				.atalho	p { color: #bebebe; font-size: 12px; }


	.rodape { color: #cecfd3; float: right; padding: 10px 35px; }
