<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% include "elements/stylesheets.twig" %}
</head>
<body>
	<div class="login-form">
		<a href="">WADMIN</a>
		<form id="login" name="login" action="" method="post">
			<input id="acao" name="acao" type="hidden" value="logar">
			<p>E-mail</p>
			<input id="email" name="email" type="email" placeholder="Digite seu e-mail">
			<p>Senha</p>
			<input id="senha" name="senha" type="password" placeholder="Digite sua senha">
			<p class="lembrar-senha">Esqueceu sua senha?</p>
			<br><br>
			<input id="submit" name="submit" type="submit" value="Logar">
		</form>
	</div>
</body>
</html>