{% extends "layouts/layout.twig" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="css/paginas.css">
<div class="row vinheta">
	Lista Administrador
</div>
<div class="row">
	<a class="btn-add right branco" href="index.php?pg=editor_admin&acao=publicar">Publicar</a>
</div>

<div class="row">
	<div class="colun-1">
		<div class="panel-1">
			<div class="title-pag">Lista</div>
			
			<table class="table ls-table" id="tabela1">
				<thead>
					<tr>
						<th>Nome</th>
						<th class="hidden-xs">E-mail</th>
						<th class="hidden-xs">Ultimo Acesso</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td><a href="" title="">Wandilson oliveira</a></td>
							<td class="hidden-xs">Wandilson.oliver@gmail.com</td>
							<td class="hidden-xs">15/01/2014 ás 15:08</td>
							<td>
								<a href="" class="btn-dell right branco">Excluir</a>
								<a href="" class="btn-default right">Editar</a>
							</td>
						</tr>

						<tr>
							<td><a href="" title="">Wandilson oliveira</a></td>
							<td class="hidden-xs">Wandilson.oliver@gmail.com</td>
							<td class="hidden-xs">15/01/2014 ás 15:08</td>
							<td>
								<a href="" class="btn-dell right branco">Excluir</a>
								<a href="" class="btn-default right">Editar</a>
							</td>
						</tr>

				</tbody>
			</table>

		</div>
	</div>
</div>
{% endblock %}