{% extends "layouts/layout.twig" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="css/paginas.css">
<div class="row vinheta">Publicar Administrador</div>

<a class="btn-dell right branco" href="mostraAdmin">Voltar</a>

<div class="row">
	<div class="colun-1">1</div>
</div>
<div class="row">
	<div class="colun-2">1</div>
	<div class="colun-2">2</div>
</div>
<div class="row">
	<div class="colun-3">1</div>
	<div class="colun-3">2</div>
	<div class="colun-3">3</div>
</div>
{% endblock %}